<!DOCTYPE html>
<html>
<head>
  <title>ListBlast</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic|Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <h1>LISTBLAST</h1>
    <p>Send an email the Student List w/o having to subscribe.</p>
  </header>

  <div id="notice"><%= flash[:notice] %></div>

  <section id="content">
    <%= yield %>
  </section>

</body>
</html>