<form action="/blast" method="POST">
  <input id="subject" name="email[subject]" placeholder="SUBJECT">
  <textarea id="body" name="email[body]" placeholder="email body..."></textarea>
  <input type="submit" value="Blast It!">
</form>